<h1>Ficha de Categoría</h1>
{{ mode }} // {{ categoryId }}



  <form *ngIf="category" #itemForm="ngForm" name="categoryForm" role="form" novalidate autocomplete="off">



   <!-- Nombre -->
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" [(ngModel)]="category.name" name="name" class="form-control" id="name" #name="ngModel" required minlength="3" maxlength="100">

  </div>


  <div *ngIf="(name.dirty && name.errors)">
      <small class="form-text text-danger"
      *ngIf="name.errors['required']">
      Este campo es requerido
      </small>
      <small class="form-text text-danger"
      *ngIf="name.errors['minlength']">
      Este campo tiene que tener una longitud mínima de 3 caracteres
      </small>
  </div>



  <!-- Descripción -->
  <div class="form-group">
    <label for="description">Descripción:</label>
    <input type="text" [(ngModel)]="category.description" name="description" class="form-control" id="description" #description="ngModel" maxlength="2000">
  </div>



  <!-- Imagen -->
  <div class="form-group">
    <label for="imagen">Imagen</label>
    <input type="file" id="image" class="form-control" id="imagen" (change)="includeImageInCategory($event);">
    <img *ngIf="category.image" [src]="'data:image/webp;base64,' + category.image">
  </div>

  <div>
    <button (click)="saveCategory()" [disabled]="itemForm.invalid">{{ mode === 'NEW' ? 'Crear Categoría' : 'Guardar' }}</button>
  </div>




</form>
