<h1>Lista de categorías</h1>


<div id="buttonCreateContainer">
  <button [routerLink]="['/categories','new']">Nueva Categoría</button>
</div>



<table *ngIf="categories.length > 0">
  <thead>
    <th>Id</th>
    <th>Imagen</th>
    <th>Categoría</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>
          <img class="imgCategory" [src]="'data:image/webp;base64,' + category.image">
        </td>
        <td>
          {{ category.name }}
        </td>
        <td>
          <a [routerLink]="['/categories', category.id, 'items']">
            <button id="btnNavToCategoryItems">Articulos</button>

          </a>


          <!--nuevo-->
          <a [routerLink]="['/categories', category.id]">
          <button id="btnUpdateCategory" (click)="updateCategory(category)">Editar</button>
          </a>
          <button id="btnDeleteCategory" (click)="deleteCategory(category)">Eliminar</button>



        </td>

    </tr>
  </tbody>
</table>

